h1 {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    position: relative;
}

h2 {
    color: #000;
    font-family: "Raleway", serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 46px;
    margin-bottom: 27px;
}

h3 {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    bottom: 421px;
    padding-left: 41px;
}

h4 {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-top: 122px;
    padding-left: 12px;
}

p {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    font-family: "Raleway", serif;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-top: 125px;
    padding-left: 19px;
    height: 109px;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.header__links-list_no-bullit {
    list-style: none;
}

.header__logo {
    padding-right: 140px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    margin-top: 76px;
    margin-right: 10px;
}

.address {
    max-width: 240px;
    padding-top: 76px;
    padding-right: 60px;
    font-family: "Raleway", serif;
    font-style: normal;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
}

.cover {
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    max-width: 1446px;
    height: 757px;
}

.cover:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text {
    margin-left: 56px;
    padding-top: 165px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}

.aligned-text_center {
    margin: 10px 120px 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
    gap: 30px;
}

.aligned-text_right {
    display: flex;
    align-items: baseline;
    justify-content: right;
    gap: 31px;
    padding-right: 19px;
    padding-top: 2px;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.cover__description-text {
    display: flex;
    align-items: baseline;
    word-spacing: 1.1rem;
    gap: 80px;
    position: relative;
    padding-top: 60px;
    padding-right: 50px;
}

.cover__description-bet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #fff;
    width: 257px;
    height: 52px;
    gap: 4px;
}

.cover__description-button-color {
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.cover__button {
    text-decoration: none;
}

.lots {
    padding: 148px 91px 0px 50px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card_href {
    text-decoration: none;
}

.card__image {
    width: 430px;
    height: 450px;
}

.card__image:before {
    content: "";
    position: absolute;
    width: 430px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 450px;
    position: relative;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 450px;
    position: relative;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 450px;
    position: relative;
}

.card__text-film {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
    position: relative;
    bottom: 242px;
    padding: 0 40px 50px 40px;
}

.card__text-book {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
    position: relative;
    bottom: 410px;
    padding: 0 40px 50px 40px;
}

.card__text-picture {
    color: #fff;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
    position: relative;
    bottom: 363px;
    padding: 0 40px 50px 40px;
}

.lots__look-more-link {
    color: #000;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
    padding-left: 46px;
    padding-top: 14px;
}

.about {
    display: grid;
    grid-template-columns: 430px;
    grid-template-rows: 240px;
    gap: 5px;
    padding-top: 108px;
    padding-left: 65px;
}

.about__background-round {
    display: flex;
    justify-content: center;
    padding-top: 73px;
    padding-right: 17px;
}

.about__container-logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo {
    width: 148px;
    height: 114px;
}

.about__text {
    grid-column-start: 2;
    grid-column-end: 2;
    color: #000;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-top: 75px;
    padding-left: 12px;
    max-width: 885px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 181px 0 90px 55px;
    align-items: center;
}

.footer__nav {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-family: "Raleway", serif;
    color: #000;
    font-weight: 400;
    margin-left: 33px;
}

.footer__address {
    max-width: 240px;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
    font-family: "Raleway", serif;
    color: #000;
    font-weight: 400;
    margin-left: 2px;
    padding-top: 2px;
}

.footer__links-list {
    list-style: none;
    margin-top: 0px;
    margin-top: 0px;
    padding-bottom: 14px;
    padding-right: 2px;
}

.footer__social-list-item {
    display: flex;
    list-style: none;
    padding-right: 34px;
    margin-top: 0px;
    margin-bottom: 43px;
}

.footer__social-icon {
    width: 96px;
    height: 48px;
    cursor: pointer;
}
